:root{
    /* colours */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    --bgOrange: #e84949;
  --bgglosy : #76aef1;
    /* Fonts */
    --font-robot: "Roboto";
}